#logo img{
  max-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#logo .logo-lg, #logo .logo-mini{
  position:relative;
  height:50px;
}

.login-box .logo-lg > img {
  max-width: 100%;
}

@media (max-width: 767px){

  body.skin-black #logo,
  body.skin-black #logo:hover,
  body.skin-black-light #logo,
  body.skin-black-light #logo:hover
  {
    background-color:#fff;
    border-bottom: 1px solid #eee;
  }

}
.login-page-header.logo .logo-lg {
  display: block;
}
.login-page-header.logo .logo-mini {
  display: none;
}

body .label {
  color: #333;
  font-size: 80%;
}

a.tabledrag-handle .handle {
  width: 24px;
  height: 24px;
}

.box > .box-header > h4{
  margin:0;
}

@media (max-width: 991px){
  .content-header > h1.page-title{
    margin-top:20px;
  }
}

.dropbutton > li > input:not(.btn-primary),
.dropbutton > li > input.button.js-form-submit,
.dropbutton > li > a,
.action-list > li > input:not(.btn-primary) {
  color: #428bca;
}

.dropbutton > li > input:not(.btn-primary):hover,
.dropbutton > li > input.button.js-form-submit:hover,
.dropbutton > li > a:hover,
.action-list > li > input:not(.btn-primary):hover {
  color: #68B1F0;
}

.ui-dialog .ui-dialog-title {
  color: black;
}


.filter-wrapper{
  display:none;
  visibility: hidden;
}
.page-manager-block-buttons{
  padding:0 0 10px 0;
}
.page-manager-block-buttons .btn{
  margin: 0 2px 5px 0;
}
body.path-node .nav-tabs, body.path-user .nav-tabs{
  display: none;
  visibility: hidden;
}
.credits a{
  margin:0 0 0 3px;
}
.credits a img,
.credits a svg{
  margin:-2px 0 0 0;
  opacity:0.85;
}
.credits a:hover img,
.credits a:hover svg {
  opacity:1.0;
}
.progress {
  overflow: visible;
}

/* AdminLTE Overrides */
.content-wrapper,.right-side,.main-footer {
  z-index: 82; /* 820 */
}
.content-wrapper,.right-side {
  z-index: 80; /* 800 */
}
.main-header {
  z-index: 99; /* 1030 */
}
.main-sidebar,.left-side {
  z-index: 81; /* 810 */
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,.sidebar-mini.sidebar-collapse .right-side,.sidebar-mini.sidebar-collapse .main-footer {
    z-index: 84; /* 840 */
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    z-index: 85; /* 850 */
  }
}
.control-sidebar-bg {
  z-index: 97; /* 1000 */
}
.control-sidebar {
  z-index: 98; /* 1010 */
}

/* AdminLTE Overwrite */
.sidebar-menu li > a > .fa-angle-left {
  height: 1em;
}

/* FontAwesome Overwrite */
.fa {
  font: normal normal normal 14px/1 "Font Awesome 5 Pro", "FontAwesome";
}
