.ws-c-box {}
  .ws-c-box--button .btn i {
    margin-right: 0.25em;
  }
  .ws-c-box--description + * {
    margin-top: 10px;
  }
  .ws-c-box--table th:first-child {
    padding-right: 5px;
  }
  .ws-c-box--table tr + tr > * {
    padding-top: 5px;
  }
  .ws-c-box--title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 10px 0;
  }
